<a name="top"></a>


<div class="mask rgba-black-strong h-100">
  <div class="container py-5">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto">

        
        
            
            <!-- Back Side -->
            <div class="face back">
              <div class="card-body">
                <div class="form-header primary-color">
                  <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-plus"></i>Register User</h3>
                </div>
								<form method="POST" action="pensioner-details.pensioners">
                  <!-- Register Form-->
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Aadhaar"  Aadhaar="Aadhaar" class="form-control validate" placeholder="Aadharr" require autofocus>
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="name"  name="name" class="form-control validate" placeholder="Name">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="email"  name="email" class="form-control validate" placeholder="email">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-lock prefix grey-text d-flex"></i>
                    <input  type="password"  name="password" class="form-control validate" placeholder="Password">
                  </div>

            

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Dob"  Dob="Dob" class="form-control validate" placeholder="DD/MM/YYYY">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Pan" Pan="Pan" class="form-control validate" placeholder="PAN">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Salary"  Salary="Salary" class="form-control validate" placeholder="Salary">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Allowances"  Allowances="Allowances" class="form-control validate" placeholder="Allowences">

                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="SelfOrFamily"  SelfOrFamily="SelfOrFamily" class="form-control validate" placeholder="Self or Family Pension">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="BankName"  BankName="BankName" class="form-control validate" placeholder="Name of Bank">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="BankNumber"  BankNumber="BankNumber" class="form-control validate" placeholder="Bank Number">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="PublicOrPrivate"  PublicOrPrivate="PublicOrPrivate" class="form-control validate" placeholder="Public or Private Bank">
                  </div>

                  
                  <div class="d-flex justify-content-end">
                    <!-- Triggering button -->
                    <a href="#top">Back to Home Page</a>
                    
                  </div>

                  <div class="text-center">
                    <button type="sumbit" class="btn primary-color white-text btn-lg" (click)="registerUser()" >Register User</button>
                  </div>
                  <!-- Register Form-->
								</form>
              </div>
            </div>
            <!-- Back Side -->

          </div>
        </div>
        <!-- Rotating card -->

        
      </div>
    </div>
  
