<a name="top"></a>


<div class="mask rgba-black-strong h-100">
  <div class="container py-5">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto">

        
        
            
            
            <div class="face back">
              <div class="card-body">
                <div class="form-header primary-color">
                  <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-plus"></i>Register User</h3>
                </div>
								<form #f="ngForm" (ngSubmit)="onSubmit(postForm)" novalidate #postForm="ngForm"  name="formName"  method="POST" action="pensioner-details.pensioners">
                  <!-- Register Form-->
                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input type="Number" ngModel name="Aadhaar" class="form-control validate" placeholder="Aadharr" require autofocus #Aadaar="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="name" ngModel  name="Name" class="form-control validate" placeholder="Name" #Name="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="email" ngModel  name="email" class="form-control validate" placeholder="email" #email="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-lock prefix grey-text d-flex"></i>
                    <input  type="password" ngModel  name="current-password" class="form-control validate" placeholder="Password" #Password="ngModel" >
                  </div>

            

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="Dob" ngModel  name="Dob" class="form-control validate" placeholder="DD/MM/YYYY" #Dob="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="Pan" ngModel   name="Pan" class="form-control validate" placeholder="PAN" #PAN="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="Salary" ngModel   name="Salary" class="form-control validate" placeholder="Salary" #Salary="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="Allowances"  ngModel name="Allowances" class="form-control validate" placeholder="Allowences" #Allowances="ngModel">

                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="SelfOrFamily" ngModel   name="SelfOrFamily" class="form-control validate" placeholder="Self or Family Pension" #SelfOrFamily="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="BankName" ngModel    name="BankName" class="form-control validate" placeholder="Name of Bank" #BankName="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="BankNumber" ngModel   name="BankNumber" class="form-control validate" placeholder="Bank Number" #BankNumber="ngModel">
                  </div>

                  <div class="md-form">
                    <i class="fas fa-envelope prefix grey-text d-flex"></i>
                    <input  type="PublicOrPrivate" ngModel   name="PublicOrPrivate" class="form-control validate" placeholder="Public or Private Bank" #PublicOrPrivate="ngModel">
                  </div>

                  
                  <div class="d-flex justify-content-end">
                    <!-- Triggering button -->
                    <a href="#top">Back to Home Page</a>
                    
                  </div>

                  <div class="text-center">
                    <button type="sumbit" class="btn primary-color #FFA007 btn-lg"  (click)="onSubmit(postForm)" >Register User</button>
                    
                    <p>{{postForm}}</p>
                  </div>
                  
                  <!-- Register Form-->
								</form>

               
            
       

        
    

        
    