
<footer class="footer-distibuted   fixed-bottom">

			<div class="footer-left">

				

				

				<p class="footer-left"> Echleon Pension Services © 2022      42 Market Place , Letterkenny, Caymen Islands </p>
			</div>

			    <div class="footer-center">

				<div>
					<i class="footer-center"></i>
					
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1.555.555.5555</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@Echleon.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					
					                                 Pension Managment system constructed in Node.Js and Angular
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
