body {
    background-color: #FFA007;
}

body {
    
    background-color: #cccccc;
   }

   h1 {
    font-size: 40px;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }