body {
    background-color: #FFA007;
    background-image: url("https://thumbs.dreamstime.com/b/world-map-technological-background-best-internet-concept-global-business-elements-image-furnished-bright-lines-66529240.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

