<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lets Pension!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registered" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pensionquote" href="#">Quick Pension Quote</a>
          </li>
        </ul>
        <span class="navbar-text">
          Taking the care your future needs
        </span>
      </div>
    </div>
  </nav>
