.addtodo {
    background-color: #39FF14;
    color: grey;
    text-align: center;
    position: center;
    margin-left: 850px;

}
.btn {
    background-color: #39FF14;
    color: grey;
    margin-left: 900px;
    margin-top: 35px;
}